body {
  font-family: 'Saira Semi Condensed', 'Teko', sans-serif !important;
  background-image: url("~@/assets/recipesolver-background.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.963);
}