/* All styles here must use !important */

.overhead-bar {
    background-color: rgba(24, 19, 19, 0.9) !important;
    
 }
.no-user-bar{
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.user-info{
  width: 100% !important;

}
.overhead-title {
  color: rgb(158, 156, 156) !important;
}

.toolbar-btn {
    
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 20% !important;
    background-color: #d38d0097 !important;
    color: rgb(193, 191, 191) !important;
  }
