.v-application .v-app-bar.overhead-bar {
  background-color: rgba(24, 19, 19, 0.9) !important;
  margin-top: 10px !important;
  margin-right: 150px !important;
  margin-left: 150px !important;
  height: 60px !important;
  min-height: 60px !important;
  line-height: 60px !important;
  position: relative !important; 
  z-index: 1000 !important;
  transition: margin-right 0.25s ease, transform 0.25s ease; 
}
.sticky-header {
  position: fixed !important;
  top: 0!important;
  width: 100%!important;
}
.content-wrapper {

  padding-top: 60px!important; 
}
.v-btn {
  color: rgb(193, 191, 191) !important;
  background-color: #d38d0097 !important;
  margin-right: 10px !important; 
}


.v-application .v-app-bar.overhead-bar.retracted {
  margin-right: 260px !important; 
  transform: translateX(0) !important;
  transition: margin-right 0.25s ease, transform 0.25s ease;
}

.logo-btn{
  background-color:rgba(255, 255, 255, 0) !important;
}
.nav-drawer-btn{
  width: 100%;
}

.v-navigation-drawer{
  background-color: rgba(21, 21, 21, 0.593)!important;
}

