.recipe-form {
  .input-row {
    display: flex;
    gap: 20px; /* Adjust the gap between the inputs */
  }

  .input-col {
    flex: 1; /* Ensure equal width for both columns */
  }

  select {
    border: 1px solid #ccc; /* Gray border */
    padding: 8px; /* Adjust padding as needed */
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding and border in width */
    border-radius: 4px; /* Optional: Add border radius */
  }
}
.v-form {
  background-color: rgba(24, 19, 19, 0.6); /* 50% opaque background */
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}